body {
    background-image: url(fondo3.png);
    font-family: sans-serif;
    width: 100%;
    text-transform: uppercase;
    background-color: #ffffff;
    background-size: cover;
    padding-top: 200px;
    overflow: hidden;
    
}

.login {
    width: 25%;
    margin: 0 auto;
    background-image: url(fondo2.png);
    background-size: cover;
    background-position: center;
    padding: 30px 33px 67px;
    border-top: 6px solid #ffffff;
    box-shadow: 0px 35px 44px -22px rgba(0, 0, 0, 0.72);
    border-radius: 5px;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Name {
    position: absolute;
    top:  46%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 500px;
    align-content: center;
    text-align: center;
}
form {
    margin: 0 auto;
}

form p {
    font-size: 15px;
    margin-top: 44px;
    padding: 0.3px;
    color: #999;
}

.login form input[type="text"], input[type="password"]{
    outline: none;
    font-size: 1em;
    color: #999;
    padding: 15px 10px;
    margin: 0 auto;
    width: 95%;
    border: none;
    border-bottom: 1px solid #DCCDCF;
    display: block;
    background: transparent;
}

input[type="submit"] {
    width: 100%;
    outline: none;
    display: block;
    margin: 0 auto;
    margin-top: 45px;
    padding: 13px 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    background: #ca2128;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s all;
}

input[type="submit"]:hover{
    background: #8b171b;
    transition: 0.3s all;
}

.login a {
    display: block;
    font-size: 15px;
    color: #999;
    text-align: center;
    margin-top: 31px;
    transition: 0.3s all;
}

.login a:hover {
    color: #00c3ff;
    transition: 0.3s all;
}
.Logo{
    position: relative;
    top: 530px;
    left: 1700px;
    size-adjust: 50px;
    
}



